* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
:root {
    --primary-color: #14A146;
}
.container-center{
    width: 100%;
    max-width: 320px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.margin-top-50{
    margin-top: 50px;
}
.div_100 {
    width: 100%;
}
.c_icon img{
    max-width: 200px;
}

.a-especial {
    text-decoration: none;
    color: #fff;
    background: var(--primary-color);
    font-weight: 600;
    display: block;
    border-radius: 100px;
    padding: 15px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
h1,
h2,
h3 {
    color: var(--primary-color);
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}
.container-center {
    max-width: 430px;
    margin: 0 auto;
    padding: 32px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c_icon img {
    width: 160px;
    margin-bottom: 18px;
    margin-top: 14px;
}
h1 {
    color: #21bb47;
    margin-bottom: 6px;
    font-size: 2.2rem;
    width: 100%;
    text-align: left;
}
.registro-form {
    background: #fff;
    width: 100%;
}
.registro-form p {
    margin-top: 0;
    color: #414141;
    font-size: 1.05rem;
    margin-bottom: 12px;
    text-align:left;
}
h3 {
    color: #21bb47;
    margin-top: 18px;
    margin-bottom: 8px;
    text-align:left;
    font-size: 1.08rem;
}
.input-group {
    display: flex;
    align-items: center;
    background: #f8f8f8;
    border-radius: 25px;
    padding: 8px 14px;
    margin-bottom: 13px;
    border: 1px solid #e0e0e0;
}
.input-group input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    padding: 8px 8px;
    font-size: 1rem;
    border-radius: 25px;
}
.input-icon {
    margin-right: 10px;
    font-size: 1.1rem;
    color: #5db36e;
}
.ayuda {
    font-size: 0.97rem;
    color: #636363;
    margin-bottom: 4px;
}
.msg-valid,
.msg-error {
    font-size: 0.99rem;
    margin-bottom: 0;
    display: none;
}
.msg-valid {
    color: #21bb47;
}
.msg-error {
    color: #e53935;
}
.btn-registro {
    background: #21bb47;
    color: #fff;
    padding: 15px 0;
    font-size: 1.15rem;
    border: none;
    border-radius: 25px;
    margin-top: 22px;
    margin-bottom: 14px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}
.btn-registro:hover {
    background: #169137;
}
.mostrar-pass {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 8px;
    margin: 0 0 9px 3px;
}
.existe {
    font-size: 1rem;
    color: #474747;
    text-align: center;
}
.existe a {
    color: #21bb47;
    text-decoration: underline;
}
